@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
/* line 5, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* ======= Typography */
/* line 2, ../sass/_typography.sass */
p {
  font-size: 1.4rem;
  line-height: 2.24rem;
  color: #2d3033;
}

/* line 7, ../sass/_typography.sass */
h1 {
  font-size: 10rem;
  color: #2d3033;
}

/* line 11, ../sass/_typography.sass */
h2 {
  font-size: 3.4rem;
  color: #658cd9;
}

/* line 15, ../sass/_typography.sass */
h3 {
  font-size: 2.8rem;
  color: #2d3033;
  font-weight: 400;
}

/* line 20, ../sass/_typography.sass */
h4 {
  font-size: 2.2rem;
  color: #2d3033;
  font-weight: 400;
}

/* line 25, ../sass/_typography.sass */
h5 {
  font-size: 1.4rem;
  color: #2d3033;
  font-weight: 400;
}

/* line 29, ../sass/_typography.sass */
.fa {
  font-size: 3rem;
  line-height: 2.24rem;
  color: #2d3033;
}

/* line 9, ../sass/style.sass */
.transition, .item {
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -ms-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear;
}

/* line 15, ../sass/style.sass */
.right-buttons, .to-main-page, .to-youridea-page, .to-world-page, .to-innova-page, .to-children-site {
  height: 60px;
  width: 60px;
  right: 20px;
  z-index: 10;
  margin-top: 20px;
}

/* line 21, ../sass/style.sass */
.hidden-link {
  visibility: hidden;
  opacity: 0;
}

/* line 24, ../sass/style.sass */
.active-list {
  color: #808080;
}

/* line 26, ../sass/style.sass */
body {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  background-color: #F4F7F0;
  overflow-x: hidden;
}

/* line 31, ../sass/style.sass */
header {
  text-align: center;
}
/* line 33, ../sass/style.sass */
header h1 {
  font-size: 8rem;
  padding-top: 10%;
}

/* line 36, ../sass/style.sass */
#navigation {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 10;
}

/* line 43, ../sass/style.sass */
.to-main-page img {
  max-width: 100%;
}

/* line 47, ../sass/style.sass */
.to-youridea-page img {
  max-width: 100%;
}

/* line 51, ../sass/style.sass */
.to-world-page img {
  max-width: 100%;
}

/* line 55, ../sass/style.sass */
.to-innova-page img {
  max-width: 100%;
}

/* line 59, ../sass/style.sass */
.to-children-site img {
  max-width: 100%;
}

/* line 63, ../sass/style.sass */
.to-children-site img {
  max-width: 100%;
}

/* line 65, ../sass/style.sass */
canvas {
  display: inline-block;
  vertical-align: baseline;
}

/* line 68, ../sass/style.sass */
.main {
  height: 100vh;
  z-index: 9;
}

/* line 71, ../sass/style.sass */
.top-wrapper {
  display: table;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 77, ../sass/style.sass */
.top-description {
  display: table-row;
}

/* line 79, ../sass/style.sass */
.top-centered {
  display: table-cell;
  text-align: center;
  padding-top: 15%;
}

/* line 84, ../sass/style.sass */
.logo img, .logo svg {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}
/* line 88, ../sass/style.sass */
.logo span {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  width: 170px;
  height: 170px;
  -moz-box-sizing: border-box;
  -webkit-animation: pulse 5s infinite linear;
  -o-animation: pulse 5s infinite linear;
  -ms-animation: pulse 5s infinite linear;
  -moz-animation: pulse 5s infinite linear;
  animation: pulse 5s infinite linear;
}
/* line 100, ../sass/style.sass */
.logo h2 {
  text-transform: uppercase;
  margin-top: 30px;
  font-weight: bold;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(1);
  }
  75% {
    -webkit-transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1);
  }
  25% {
    -moz-transform: scale(1.1);
  }
  50% {
    -moz-transform: scale(1);
  }
  75% {
    -moz-transform: scale(1.1);
  }
  100% {
    -moz-transform: scale(1);
  }
}
@-ms-keyframes pulse {
  0% {
    -ms-transform: scale(1);
  }
  25% {
    -ms-transform: scale(1.1);
  }
  50% {
    -ms-transform: scale(1);
  }
  75% {
    -ms-transform: scale(1.1);
  }
  100% {
    -ms-transform: scale(1);
  }
}
@-o-keyframes pulse {
  0% {
    -o-transform: scale(1);
  }
  25% {
    -o-transform: scale(1.1);
  }
  50% {
    -o-transform: scale(1);
  }
  75% {
    -o-transform: scale(1.1);
  }
  100% {
    -o-transform: scale(1);
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
/* line 165, ../sass/style.sass */
.items {
  margin-top: 150px;
  text-align: center;
  display: table-row;
}

/* line 170, ../sass/style.sass */
.item {
  visibility: hidden;
  opacity: 0;
  margin-top: 50px;
}
/* line 174, ../sass/style.sass */
.item p {
  text-transform: uppercase;
  text-align: left;
  display: inline-block;
  font-weight: bold;
}
/* line 179, ../sass/style.sass */
.item svg {
  width: 100%;
  width: 150px;
  height: 150px;
  margin-left: 20px;
  max-width: 100%;
  vertical-align: middle;
}

/* line 189, ../sass/style.sass */
.section-title h2 {
  color: #2d3033;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 4%;
  text-transform: uppercase;
}

/* line 196, ../sass/style.sass */
.section-content p {
  padding-top: 1%;
  text-align: left;
}

/* line 199, ../sass/style.sass */
.contacts-phone, .contacts-mail, .contacts-adress {
  margin-top: 2%;
  margin-bottom: 2%;
}
/* line 202, ../sass/style.sass */
.contacts-phone p, .contacts-mail p, .contacts-adress p {
  display: inline-block;
  text-align: left;
  vertical-align: top;
}
/* line 206, ../sass/style.sass */
.contacts-phone .fa, .contacts-mail .fa, .contacts-adress .fa {
  padding-right: 4%;
}
/* line 208, ../sass/style.sass */
.contacts-phone .fa.fa-mobile, .contacts-mail .fa.fa-mobile, .contacts-adress .fa.fa-mobile {
  padding-left: 1.5%;
}

/* line 210, ../sass/style.sass */
.contacts-socials {
  padding-top: 6%;
  padding-bottom: 6%;
}
/* line 213, ../sass/style.sass */
.contacts-socials a {
  margin-right: 20px;
}

/* line 217, ../sass/style.sass */
.future-generation-logo img {
  width: 500px;
  height: 400px;
  margin: 0 auto;
}
/* line 221, ../sass/style.sass */
.future-generation-logo h1 {
  padding-top: 0;
}

/* line 223, ../sass/style.sass */
.navbar {
  padding-top: 5%;
}
/* line 225, ../sass/style.sass */
.navbar ul.nav {
  margin: 20px;
  margin-right: 10%;
  float: right;
}
/* line 229, ../sass/style.sass */
.navbar ul.nav li {
  margin-right: 20px;
  display: inline-block;
}
/* line 232, ../sass/style.sass */
.navbar ul.nav li:last-child {
  margin-right: 0;
}
/* line 234, ../sass/style.sass */
.navbar ul.nav li a {
  color: #2d3033;
  text-transform: uppercase;
  font-size: 1.4rem;
}

/* line 239, ../sass/style.sass */
footer {
  padding: 100px;
}
/* line 241, ../sass/style.sass */
footer ul.footer-socials {
  padding: 0;
  margin: 20px;
  margin-right: 0;
}
/* line 245, ../sass/style.sass */
footer ul.footer-socials li {
  display: inline-block;
  margin-left: 2px;
}
/* line 248, ../sass/style.sass */
footer ul.footer-socials li a {
  width: 36px;
}
/* line 250, ../sass/style.sass */
footer ul.footer-socials li a img {
  width: 36px;
  max-width: 100%;
}
/* line 253, ../sass/style.sass */
footer p.credits {
  margin-top: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: right;
  font-size: 0.6rem;
  line-height: 1.3rem;
  font-weight: 200;
}
/* line 261, ../sass/style.sass */
footer .footer-logo {
  margin-top: 15px;
  float: right;
}
/* line 264, ../sass/style.sass */
footer .footer-logo img {
  width: 40px;
}

/* line 268, ../sass/style.sass */
header#sub-header {
  padding: 2% 0;
}
/* line 270, ../sass/style.sass */
header#sub-header svg {
  width: 150px;
  height: 150px;
}

/* line 274, ../sass/style.sass */
ul.bx-slider p {
  padding: 0 20px;
}

/* line 276, ../sass/style.sass */
.bx-wrapper, .bx-viewport {
  margin-top: 3%;
  text-align: left;
}
/* line 279, ../sass/style.sass */
.bx-wrapper li, .bx-viewport li {
  display: inline-block;
}
/* line 281, ../sass/style.sass */
.bx-wrapper p, .bx-viewport p {
  padding: 0 20px;
  display: inline-block;
}
/* line 285, ../sass/style.sass */
.bx-wrapper .bx-controls-direction a, .bx-viewport .bx-controls-direction a {
  position: absolute;
  top: 50%;
  outline: 0;
  z-index: 500;
}
/* line 290, ../sass/style.sass */
.bx-wrapper .bx-prev, .bx-viewport .bx-prev {
  left: 0;
}
/* line 292, ../sass/style.sass */
.bx-wrapper .bx-next, .bx-viewport .bx-next {
  right: 25%;
}

/* line 294, ../sass/style.sass */
ul.nav-menu {
  padding-top: 2%;
  padding-bottom: 2%;
}
/* line 297, ../sass/style.sass */
ul.nav-menu li {
  display: inline-block;
  margin: 1%;
}
/* line 300, ../sass/style.sass */
ul.nav-menu li:last-child {
  margin-right: 0;
}
/* line 302, ../sass/style.sass */
ul.nav-menu li a {
  color: #2d3033;
  font-size: 2rem;
}
/* line 305, ../sass/style.sass */
ul.nav-menu li a:hover {
  border-bottom: 2px solid #808080;
}

/* line 312, ../sass/style.sass */
section#structure {
  text-align: center;
}
/* line 314, ../sass/style.sass */
section#structure p {
  margin: 2% 0;
}
/* line 316, ../sass/style.sass */
section#structure a {
  color: #2d3033;
  text-decoration: underline;
}
/* line 319, ../sass/style.sass */
section#structure a:link {
  color: #2d3033;
}
/* line 321, ../sass/style.sass */
section#structure a:visited {
  color: #2d3033;
}
/* line 323, ../sass/style.sass */
section#structure a:hover {
  color: #505050;
}
/* line 325, ../sass/style.sass */
section#structure a:active {
  color: #2d3033;
}

/* line 328, ../sass/style.sass */
.structure-table-title-idea h3 {
  padding: 7% 0;
}
/* line 330, ../sass/style.sass */
.structure-table-title-idea svg {
  margin-top: 10%;
  width: 50px;
  height: 50px;
}

/* line 335, ../sass/style.sass */
.structure-table-title-serviceinnova h3, .structure-table-title-project h3 {
  padding: 4% 0;
}
/* line 337, ../sass/style.sass */
.structure-table-title-serviceinnova svg, .structure-table-title-project svg {
  width: 90px;
  height: 90px;
}

/* line 341, ../sass/style.sass */
.structure-serviceinnova-links a, .structure-project-links a {
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -ms-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear;
}

/* line 348, ../sass/style.sass */
.structure-left-side {
  cursor: pointer;
}
/* line 350, ../sass/style.sass */
.structure-left-side:hover {
  background-color: #eeeeee;
}
/* line 352, ../sass/style.sass */
.structure-left-side h4 {
  display: inline-block;
  margin: 8%;
  cursor: pointer;
}

/* line 356, ../sass/style.sass */
table.tg {
  width: 100%;
  border-collapse: separate;
  text-align: center;
  margin: 0 auto;
}
/* line 361, ../sass/style.sass */
table.tg td, table.tg th {
  width: 33%;
  text-align: center;
  vertical-align: middle;
}

/* line 367, ../sass/style.sass */
.portfolio {
  width: 100%;
  position: relative;
  padding: 0;
}

/* line 371, ../sass/style.sass */
.portfolio-img, .mason_filler {
  float: left;
  position: relative;
  padding: 0;
}

/* line 379, ../sass/style.sass */
#tabs svg {
  width: 10%;
  float: left;
  vertical-align: middle;
  padding-right: 3%;
  padding-left: 3%;
  border: 1px solid #000;
}

/* line 387, ../sass/style.sass */
.tab-container {
  margin-top: 100px;
}
/* line 389, ../sass/style.sass */
.tab-container:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 395, ../sass/style.sass */
.tab-container ul {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  height: 300px;
  overflow-y: auto;
  width: 15%;
}
/* line 403, ../sass/style.sass */
.tab-container ul li {
  margin: 10px 10px;
}
/* line 405, ../sass/style.sass */
.tab-container ul a {
  color: #2d3033;
  font-size: 1.8rem;
  text-decoration: underline;
}

/* line 409, ../sass/style.sass */
.panel-container {
  display: inline-block;
  width: 70%;
}
/* line 412, ../sass/style.sass */
.panel-container p {
  margin-left: 2%;
}

/*==========  Desktop First Method  ========== */
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /* */
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /* */
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /* */
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /* */
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /* */
}
/*==========  Mobile First Method  ========== */
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /* */
}
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /* */
}
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /* */
}
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /* */
}
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /* */
}
